#cloud-config

bootcmd:
- printf "[Resolve]\nDNS=8.8.8.8" > /etc/systemd/resolved.conf
- [systemctl, restart, systemd-resolved]

preserve_hostname: false
hostname: ${hostname}

ssh_pwauth: false
disable_root: true

users:
- name: kubernetes
  groups: users, admin
  lock_passwd: true
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  ssh_authorized_keys:
  - ${sshkey}

write_files:
- path: /etc/netplan/50-cloud-init.yaml
  owner: root
  content: |
    network:
      version: 2
      ethernets:
        eth0:
          match:
            name: en*
          addresses: [${ip}/24]
          gateway4: ${gateway}
          dhcp6: false
          nameservers:
            addresses: [1.1.1.1, 8.8.8.8]
          dhcp4: false

package_update: true
packages:
- git
- jq
- vim
- open-iscsi

runcmd:
- netplan apply
- ufw disable
- systemctl enable iscsid.service
- systemctl start iscsid.service
- mount bpffs -t bpf /sys/fs/bpf
