#cloud-config

bootcmd:
- printf "[Resolve]\nDNS=8.8.8.8" > /etc/systemd/resolved.conf
- [systemctl, restart, systemd-resolved]

manage_resolv_conf: true
resolv_conf:
  nameservers:
  - 1.1.1.1
  - 8.8.8.8

preserve_hostname: false
hostname: ${hostname}

# ssh_pwauth: true
disable_root: false

users:
- name: kubernetes
  groups: users, admin
  lock_passwd: true
  sudo: ALL=(ALL) NOPASSWD:ALL
  ssh_authorized_keys:
  - ${sshkey}

package_update: true
packages:
- git
- jq
- vim
- open-iscsi

runcmd:
- ufw disable
- systemctl enable iscsid.service
- systemctl start iscsid.service
- echo 'nameserver 1.1.1.1' > /etc/resolv.conf
- echo 'nameserver 8.8.8.8' >> /etc/resolv.conf
