#cloud-config

bootcmd:
- printf "[Resolve]\nDNS=8.8.8.8" > /etc/systemd/resolved.conf
- [systemctl, restart, systemd-resolved]

preserve_hostname: false
hostname: ${hostname}

ssh_pwauth: false
disable_root: true

users:
- name: kubernetes
  groups: users, admin
  lock_passwd: true
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  ssh_authorized_keys:
  - ${sshkey}

write_files:
- path: /etc/netplan/50-cloud-init.yaml
  owner: root
  content: |
    network:
      version: 2
      ethernets:
        eth0:
          match:
            name: en*
          addresses: [${ip}/24]
          gateway4: ${gateway}
          dhcp6: false
          nameservers:
            addresses: [1.1.1.1, 8.8.8.8]
          dhcp4: false
- path: /etc/sysctl.d/77-kubernetes.conf
  owner: root
  content: |
    net.ipv4.ip_forward=1
    fs.inotify.max_user_watches=65536
    fs.inotify.max_user_instances=8192
- path: /etc/logrotate.d/rsyslog
  owner: root
  content: |
    /var/log/syslog
    /var/log/mail.info
    /var/log/mail.warn
    /var/log/mail.err
    /var/log/mail.log
    /var/log/daemon.log
    /var/log/kern.log
    /var/log/auth.log
    /var/log/user.log
    /var/log/lpr.log
    /var/log/cron.log
    /var/log/debug
    /var/log/messages
    {
      rotate 7
      daily
      missingok
      notifempty
      compress
      sharedscripts
      postrotate
        /usr/lib/rsyslog/rsyslog-rotate
      endscript
    }
- path: /etc/systemd/networkd.conf
  owner: root
  permissions: '0644'
  content: |
    [Network]
    ManageForeignRoutes=no
    ManageForeignRoutingPolicyRules=no

package_update: true
packages:
- unattended-upgrades
- git
- jq
- vim
- open-iscsi

runcmd:
- netplan apply
- ufw disable
- systemctl restart systemd-networkd
- systemctl enable unattended-upgrades
- systemctl enable iscsid.service
- systemctl start iscsid.service
- mount bpffs -t bpf /sys/fs/bpf
